<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerList</servlet-name>
        <servlet-class>controller.CustomerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>controller.ServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceServlet</servlet-name>
        <servlet-class>controller.AddServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceServlet</servlet-name>
        <servlet-class>controller.UpdateServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <servlet-class>controller.DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceById</servlet-name>
        <servlet-class>controller.SearchServiceByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>controller.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>controller.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoardingServlet</servlet-name>
        <servlet-class>controller.BoardingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBoardingServlet</servlet-name>
        <servlet-class>controller.AddBoardingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBoardingServlet</servlet-name>
        <servlet-class>controller.UpdateBoardingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBoardingServlet</servlet-name>
        <servlet-class>controller.DeleteBoardingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBoardingByName</servlet-name>
        <servlet-class>controller.SearchBoardingByName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerList</servlet-name>
        <url-pattern>/CustomerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/ServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceServlet</servlet-name>
        <url-pattern>/AddServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceServlet</servlet-name>
        <url-pattern>/UpdateServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <url-pattern>/DeleteServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceById</servlet-name>
        <url-pattern>/SearchServiceById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoardingServlet</servlet-name>
        <url-pattern>/BoardingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBoardingServlet</servlet-name>
        <url-pattern>/AddBoardingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBoardingServlet</servlet-name>
        <url-pattern>/UpdateBoardingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBoardingServlet</servlet-name>
        <url-pattern>/DeleteBoardingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBoardingByName</servlet-name>
        <url-pattern>/SearchBoardingByName</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
</web-app>
